node_modules
dist
dist-ssr
*.local
.env
.env.local
.DS_Store
.vscode/*
!.vscode/extensions.json
.idea
*.log
*.tsbuildinfo
acessar-vps.bat
.vite-dev.log*
*.err
whisper_config.json
.whisper_startup
temp_*
*.openchamber.backup
TUDO-SOBRE-O-PROJETO.md
